{% extends 'mng_base.html' %}
{% block header %}クラス編集{% endblock %}
{% block contents %}
<div class="container">
	<a href="{% url 'mng_class_list' %}">戻る</a>
	<h1 class="page-title">クラス編集</h1>
    <form action="" method="POST">{% csrf_token %}
		{{ message }}
	    <div class="class-list">
			{% for form in formset %}
				<div class="class-box">
					{{ form.DELETE }}
					{{ form.userclass }}
					{% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
				</div>
			{% endfor %}
			{{ formset.management_form }}
		</div>
		<button type="submit" class="btn-class-save">変更保存/選択削除</button>
    </form>
</div>
{% endblock %}