{% extends 'mng_base.html' %}
{% block header %}ロードマップ確認 - 詳細{% endblock %}
{% block contents %}
<div class="container">
    <div class="create-title">
        ボックス名：{{ content }}
    </div>
    <div class="roadmap-list">
        {% if data %}
            {% for item in indexes %}
            <div class="contentbox">
                {{ item.index }}
            </div>
            <div class="boxspace"></div>
            {% endfor %}
        {% else %}
            <p class="nodata-text">データがありません。</p>
            <a href="{% url 'mng_create_index' title=title content=content %}" class="btn-create">作成する</a>
        {% endif %}
    </div>
</div>
{% endblock %}