{% extends 'mng_base.html' %}
{% block header %}ロードマップ編集{% endblock %}
{% block contents %}
<div class="container">
    <a href="{% url 'mng_edit_content' title=title %}">戻る</a>
    <div class="create-title">
        ボックス名：{{ content }}
    </div>
    {% if data %}
        <a href="{% url 'mng_create_index' title=title content=content %}">ボックス追加</a>
    {% endif %}
    {{success}}
    <form action="" method="POST">{% csrf_token %}
        <div class="roadmap-list">
            {% for form in formset %}
                <div class="contentbox">
                    <div class="delete-check">
                        {{ form.DELETE }}
                    </div>
                    <div class="edit-content">
                        {{ form.index }}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </div>
                </div>
                {{ form.errors }}
                <div class="boxspace"></div>
            {% endfor %}
            {{ formset.management_form }}
            {% if data %}
                <button type="submit" class="btn-save">変更保存/選択削除</button>
            {% else %}
                <p class="nodata-text">データがありません。</p>
                <a href="{% url 'mng_create_index' title=title content=content %}" class="btn-create">作成する</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}